.menu-vertical {
    background-color: darkgreen;
    width: 150px;
    text-align: center;
    padding: 1em;
}

a, a:visited {
    text-decoration: none;
    color: whitesmoke;
}

ul, li {
    list-style-type: none;
}

.submenu {
    display: none;
}

