.menu-vertical {
    background-color: darkgreen;
    width: 150px;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    width: 100%;
}



ul, li {
    list-style-type: none;
}

li {
    padding: 5px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: olivedrab;
    margin-left: 4px;
    width: 250px;
}

.submenu li {
    margin-left: -40px;

}

.submenu li:hover {
    background-color: seagreen;
}

.menu-vertical li {
    line-height: 30px;
}

.menu-vertical a:hover {
    background-color: seagreen;
}

.menu-vertical li:hover .submenu {
    display: inline-block;
}

